In [2]:
1

1

In [4]:
def f(*adlar):
    print(adlar)
    
def f(**ozellikler):
    print(ozellikler)
    
f(a=1, b=2, c=3)

{'a': 1, 'b': 2, 'c': 3}

In [6]:
x = iter([1,2,3,4])
next(x)

1

In [7]:
next(x)

2

In [8]:
def kvad(l):
    for eded in l:
        r = eded**2
        yield r
        
x = kvad([1,2,3,4])

In [28]:
class DersSinifi:
	telebeler_var = True

	def __init__(self, say):
		self.say = say

	@property
	def telebeler(self):
		return DersSinifi.telebeler_var

s = DersSinifi(9)
s.telebeler

True

In [16]:
# import dataclasses
# @dataclasses.dataclass

from dataclasses import dataclass
@dataclass
class DersSinifi:
    say : int
    telebeler_var : bool = True
    
s = DersSinifi(9)
s.say

9

In [17]:
import math
math.sqrt(9)

3.0

In [ ]:
class Riyaziyyat:
	pi = 3.14
    
	@classmethod
	def circle_area(cls, r):
		return cls.pi * r**2

	@staticmethod
	def sqrt(sayi):
		return sayi**(1/2)


# r = Riyaziyyat()
# r.sqrt(9)
# Riyaziyyat.sqrt(9)
#----------
# r = Riyaziyyat()
# r.circle_area(10)
Riyaziyyat.circle_area(10)
#----------

In [40]:
from pathlib import Path

txt_path = Path(r"C:\Users\user\Desktop\div\test.txt")
txt_path

WindowsPath('C:/Users/user/Desktop/div/test.txt')

In [45]:
print(txt_path.read_text())

salam menim adim
sehriyardir
senin adin nedir?
asdfalsjdflasjadfasdfas

In [ ]:
# test.txt - name
# test - stem
# .txt - extension

In [2]:
import pandas as pd
from pathlib import Path
excel_path = Path(r"C:\Users\user\Desktop\ayna\dt\20250624 Rail Simulation.xlsx")
pd.read_excel(excel_path)

,#,Stansiya,Checkin,Mövcud model,Stations,Stations\n+ Connector
0,1.0,Bakı (28 May),13471.0,12031.0,5790,4728
1,2.0,Nərimanov,NaN,NaN,3648,2496
2,3.0,Keşlə,1193.0,1387.0,1174,1020
3,4.0,Koroğlu,1852.0,1595.0,1882,6875
4,5.0,Bakıxanov,2340.0,2207.0,3011,4673
5,6.0,Sabunçu,1029.0,1122.0,1406,1669
6,7.0,Zabrat 1,1004.0,580.0,1013,962
7,8.0,Zabrat 2,1252.0,1323.0,1049,1932
8,9.0,Mәmmәdli,1652.0,1659.0,1877,1516
9,10.0,Pirşağı,1180.0,1003.0,799,890
10,11.0,Görәdil,367.0,738.0,624,526
11,12.0,Novxanı,556.0,492.0,482,870
12,13.0,Sumqayıt,7462.0,9244.0,10840,12266
13,14.0,Güzdək,NaN,NaN,562,570
14,15.0,Xırdalan,3201.0,3847.0,6366,7344
15,16.0,Biləcəri,1010.0,1271.0,1985,2889
16,17.0,Darnagül,NaN,NaN,6074,5984
17,18.0,Keşlə Yük,NaN,NaN,1030,1284
18,NaN,NaN,37569.0,38499.0,49612,58494

In [13]:
from pathlib import Path

current_dir = Path.cwd()
home_dir = Path.home()
txt_path = Path(r"C:\Users\user\Desktop\div\test.txt")
txt_path = Path("../test.txt")
txt_path.exists()
# directory/folder/papka/qovluq
# document/file/fayl

True

In [31]:
txt_path = Path(r"C:\Users\user\Desktop\div\test.txt")
txt_path.parent

WindowsPath('C:/Users/user/Desktop/div')

In [ ]:
current_dir = Path.cwd()
yeni_folderimin_pathi = current_dir / 'yeni_folder'
print(yeni_folderimin_pathi.exists())
yeni_folderimin_pathi.mkdir(exist_ok=True) # yaradir
print(yeni_folderimin_pathi.exists())

False
True

In [47]:
yeni_fayl = yeni_folderimin_pathi / 'menim_faylim.txt'
yeni_fayl.write_text('yeni faylimin contenti\nsalam')

28

In [50]:
yeni_fayl.read_text()

'yeni faylimin contenti\nsalam'

In [52]:
yeni_fayl

WindowsPath('c:/Users/user/Desktop/div/notebooks/yeni_folder/menim_faylim.txt')

In [51]:
with yeni_fayl.open('r') as f:
    l = f.readlines()
    
l

['yeni faylimin contenti\n', 'salam']

In [57]:
csv_path = Path(r"C:\Users\user\Desktop\div\data\car-sales.csv")
with csv_path.open() as f:
    l =  f.readlines()
    for line in l:
        print(line)

Make,Colour,Odometer (KM),Doors,Price

Toyota,White,150043,4,"$4,000.00"

Honda,Red,87899,4,"$5,000.00"

Toyota,Blue,32549,3,"$7,000.00"

BMW,Black,11179,5,"$22,000.00"

Nissan,White,213095,4,"$3,500.00"

Toyota,Green,99213,4,"$4,500.00"

Honda,Blue,45698,4,"$7,500.00"

Honda,Blue,54738,4,"$7,000.00"

Toyota,White,60000,4,"$6,250.00"

Nissan,White,31600,4,"$9,700.00"

In [ ]:
l

['Make,Colour,Odometer (KM),Doors,Price\n',
 'Toyota,White,150043,4,"$4,000.00"\n',
 'Honda,Red,87899,4,"$5,000.00"\n',
 'Toyota,Blue,32549,3,"$7,000.00"\n',
 'BMW,Black,11179,5,"$22,000.00"\n',
 'Nissan,White,213095,4,"$3,500.00"\n',
 'Toyota,Green,99213,4,"$4,500.00"\n',
 'Honda,Blue,45698,4,"$7,500.00"\n',
 'Honda,Blue,54738,4,"$7,000.00"\n',
 'Toyota,White,60000,4,"$6,250.00"\n',
 'Nissan,White,31600,4,"$9,700.00"']