In [6]:
import numpy as np
arr = np.arange(20,50,5)
l = list(range(160,190,5))
l

[160, 165, 170, 175, 180, 185]

In [ ]:
# %pip install pandas
import pandas as pd

In [10]:
s_yashlar = pd.Series(arr)
s_yashlar

0    20
1    25
2    30
3    35
4    40
5    45
dtype: int64

In [11]:
s_boylar = pd.Series(l)
s_boylar

0    160
1    165
2    170
3    175
4    180
5    185
dtype: int64

In [15]:
import numpy as np
np.sqrt(s_yashlar)

0    4.472136
1    5.000000
2    5.477226
3    5.916080
4    6.324555
5    6.708204
dtype: float64

In [19]:
s_yashlar[s_yashlar >= 40]

4    40
5    45
dtype: int64

In [32]:
# s_yashlar.to_numpy()
d = s_yashlar.to_dict()
d

{'ali': 20, 'vali': 25, 'hasan': 30, 'huseyn': 35, 'lale': 40, 'gulnar': 45}

In [27]:
s_yashlar = pd.Series(arr, index=['ali', 'vali', 'hasan', 'huseyn', 'lale', 'gulnar'])
s_boylar = pd.Series(l, index=['ali', 'qezenfer', 'elovset', 'huseyn', 'lale', 'gulnar'])

# pd.DataFrame({
#     'yash' : s_yashlar,
#     'boy' : s_boylar,
# })

s_yashlar + s_boylar

ali         180.0
elovset       NaN
gulnar      230.0
hasan         NaN
huseyn      210.0
lale        220.0
qezenfer      NaN
vali          NaN
dtype: float64

In [36]:
s_yashlar

ali       20
vali      25
hasan     30
huseyn    35
lale      40
gulnar    45
dtype: int64

In [45]:
# s_yashlar['ali']
s_yashlar.loc['hasan']
s_yashlar.iloc[2]

np.int64(30)

In [46]:
s_yashlar

ali       20
vali      25
hasan     30
huseyn    35
lale      40
gulnar    45
dtype: int64

In [48]:
# s_yashlar['hasan':'lale']
s_yashlar.loc['hasan':'lale']
s_yashlar.iloc[2:5]

hasan     30
huseyn    35
lale      40
dtype: int64

In [55]:
s_yashlar.index
s_yashlar.values
s_yashlar.to_dict().items()

dict_items([('ali', 20), ('vali', 25), ('hasan', 30), ('huseyn', 35), ('lale', 40), ('gulnar', 45)])

In [58]:
# d['huseyn'] = 70
s_yashlar['huseyn'] = 70
s_yashlar

ali       20
vali      25
hasan     30
huseyn    70
lale      40
gulnar    45
dtype: int64

In [61]:
# s_yashlar.loc['vali':]
s_yashlar.iloc[1:]

vali      25
hasan     30
huseyn    70
lale      40
gulnar    45
dtype: int64

In [92]:
s3 = s_yashlar + s_boylar
s3

ali         180.0
elovset       NaN
gulnar      230.0
hasan         NaN
huseyn      245.0
lale        220.0
qezenfer      NaN
vali          NaN
dtype: float64

In [93]:
s3

ali         180.0
elovset       NaN
gulnar      230.0
hasan         NaN
huseyn      245.0
lale        220.0
qezenfer      NaN
vali          NaN
dtype: float64

In [91]:
s3.loc[s3.isna()] = s3.mean()
s3

ali         180.00
elovset     218.75
gulnar      230.00
hasan       218.75
huseyn      245.00
lale        220.00
qezenfer    218.75
vali        218.75
dtype: float64

In [ ]:
# s3 = s3.fillna(s3.mean())
# s3.fillna(s3.mean(), inplace=True)

ali         180.00
elovset     218.75
gulnar      230.00
hasan       218.75
huseyn      245.00
lale        220.00
qezenfer    218.75
vali        218.75
dtype: float64

In [100]:
s3

ali         180.0
elovset       NaN
gulnar      230.0
hasan         NaN
huseyn      245.0
lale        220.0
qezenfer      NaN
vali          NaN
dtype: float64

In [101]:
s3.loc[s3.notna()]

ali       180.0
gulnar    230.0
huseyn    245.0
lale      220.0
dtype: float64

In [102]:
s3.dropna()

ali       180.0
gulnar    230.0
huseyn    245.0
lale      220.0
dtype: float64

In [105]:
from pathlib import Path
csv_path = Path(r"C:\Users\user\Desktop\div\data\world_population.csv")
df = pd.read_csv(csv_path)
df

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

In [107]:
s4 = df['Continent']
s4

0         Asia
1       Europe
2       Africa
3      Oceania
4       Europe
        ...
229    Oceania
230     Africa
231       Asia
232     Africa
233     Africa
Name: Continent, Length: 234, dtype: object

In [108]:
s4.value_counts()

Continent
Africa           57
Asia             50
Europe           50
North America    40
Oceania          23
South America    14
Name: count, dtype: int64

In [111]:
57 / s4.value_counts().sum() * 100

np.float64(24.358974358974358)

In [112]:
s4.value_counts() / s4.value_counts().sum() * 100

Continent
Africa           24.358974
Asia             21.367521
Europe           21.367521
North America    17.094017
Oceania           9.829060
South America     5.982906
Name: count, dtype: float64

In [115]:
s4.value_counts(normalize=True) * 100

Continent
Africa           24.358974
Asia             21.367521
Europe           21.367521
North America    17.094017
Oceania           9.829060
South America     5.982906
Name: proportion, dtype: float64

In [117]:
s_pop = df['2022 Population']
s_pop

0      41128771.0
1       2842321.0
2      44903225.0
3         44273.0
4         79824.0
          ...
229       11572.0
230      575986.0
231    33696614.0
232    20017675.0
233    16320537.0
Name: 2022 Population, Length: 234, dtype: float64

In [ ]:
x = [0,10e6,50e6,100e6,2e9]
s_pop.value_counts(bins=x)

(-0.001, 10000000.0]           137
(10000000.0, 50000000.0]        64
(50000000.0, 100000000.0]       15
(100000000.0, 2000000000.0]     14
Name: count, dtype: int64

In [120]:
s_area = df['Area (km²)']
s_area

0       652230.0
1        28748.0
2      2381741.0
3          199.0
4          468.0
         ...
229        142.0
230     266000.0
231     527968.0
232     752612.0
233     390757.0
Name: Area (km²), Length: 234, dtype: float64

In [123]:
def boyukdur_veya_kicikdir(s):
    if s>100e3:
        return 'boyuk'
    else:
        return 'kicik'

s_yeni = s_area.apply(boyukdur_veya_kicikdir)
s_yeni

0      boyuk
1      kicik
2      boyuk
3      kicik
4      kicik
       ...
229    kicik
230    boyuk
231    boyuk
232    boyuk
233    boyuk
Name: Area (km²), Length: 234, dtype: object

In [124]:
df['boyuk olkeler'] = s_yeni
df

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage,boyuk olkeler
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52,boyuk
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04,kicik
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56,boyuk
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00,kicik
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00,kicik
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00,kicik
230,172,ESH,Western Sahara,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01,boyuk
231,46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42,boyuk
232,63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25,boyuk
233,74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20,boyuk

In [ ]:
s = pd.Series([1, 1, 2, 2, 2, 3, 3, 4])
# s**2

# def kvadrata_yukselt(nese):
#     return nese**2
# s.apply(kvadrata_yukselt)

# s.apply(lambda nese: nese**2)

0     1
1     1
2     4
3     4
4     4
5     9
6     9
7    16
dtype: int64

In [ ]:
s = pd.Series([1, 1, 2, 2, 2, 3, 3, 4])

# def tekdir_cutdur(nese):
#     if nese%2==0:
#         return 'cut'
#     else:
#         return 'tek'
# s.apply(tekdir_cutdur)


s2 = s.apply(lambda nese: 'cut' if nese%2==0 else 'tek')
s2

0    tek
1    tek
2    cut
3    cut
4    cut
5    tek
6    tek
7    cut
dtype: object

In [134]:
s7 = df['CCA3']
s7

0      AFG
1      ALB
2      DZA
3      ASM
4      AND
      ...
229    WLF
230    ESH
231    YEM
232    ZMB
233    ZWE
Name: CCA3, Length: 234, dtype: object

In [139]:
len(s7)

234

In [135]:
s7.shape

(234,)

In [140]:
len(df)

234

In [156]:
'AZE' in s7.index

False

In [147]:
s7.iloc[13]

'AZE'

In [158]:
s7.sort_values(ascending=False)

233    ZWE
232    ZMB
193    ZAF
231    YEM
179    WSM
      ...
1      ALB
6      AIA
5      AGO
0      AFG
10     ABW
Name: CCA3, Length: 234, dtype: object

In [159]:
s7.tail(19)

215    TCA
216    TUV
217    UGA
218    UKR
219    ARE
220    GBR
221    USA
222    VIR
223    URY
224    UZB
225    VUT
226    VAT
227    VEN
228    VNM
229    WLF
230    ESH
231    YEM
232    ZMB
233    ZWE
Name: CCA3, dtype: object

In [166]:
s4.unique()

array(['Asia', 'Europe', 'Africa', 'Oceania', 'North America',
       'South America'], dtype=object)

In [164]:
s4.value_counts()

Continent
Africa           57
Asia             50
Europe           50
North America    40
Oceania          23
South America    14
Name: count, dtype: int64

In [174]:
s_pop.min()

np.float64(510.0)

In [175]:
s_pop.argmin()

np.int64(226)

In [176]:
df.iloc[226]

Rank                                    234
CCA3                                    VAT
Country                        Vatican City
Capital                        Vatican City
Continent                            Europe
2022 Population                       510.0
2020 Population                       520.0
2015 Population                       564.0
2010 Population                       596.0
2000 Population                       651.0
1990 Population                       700.0
1980 Population                       733.0
1970 Population                       752.0
Area (km²)                              1.0
Density (per km²)                     510.0
Growth Rate                           0.998
World Population Percentage             0.0
boyuk olkeler                         kicik
Name: 226, dtype: object

In [178]:
df.to_csv('yeni_df.csv')