# Funksiyalar

In [4]:
# f(x) = y = x**2
def kvadrata_yukseltme(reqem):
	kvadrat = reqem**2
	return kvadrat

kvadrata_yukseltme(2)

4

In [5]:
def salam_de(ad):
    qaytarilan_cumle = f"salam {ad}"
    return qaytarilan_cumle

salam_de('ali')

'salam ali'

In [ ]:
# a,b -> a**b
def quvvete_yukself(a,b=3):
    netice = a**b
    return netice

y = quvvete_yukself(5,4)

In [16]:
def salam_de(ad:str):
	if ad=='ali':
		qaytarilan_cumle = f"salam {ad}"
	elif ad=='hesen':
		qaytarilan_cumle = f"salam e"
	else:
		qaytarilan_cumle = f"hervaxtiniz xeyir"

	return qaytarilan_cumle

salam_de('lale')

'hervaxtiniz xeyir'

In [18]:
def salam_de(adamlar):
    salam_cumlesi = 'salam '
    for adam in adamlar:
        salam_cumlesi = salam_cumlesi + f"{adam}, "
    return salam_cumlesi

salam_de(['ali', 'hasan', 'lale'])

'salam ali, hasan, lale, '

In [20]:
len([1,45,1,12,4,45])

6

In [ ]:
def len_ozumun(l):
	count = 0
	for elem in l:
		count += 1
	return count

len_ozumun([1,34,112,1,23,1])

6

In [22]:
siyahi = [1,5,10]

sum = 0
for reqem in siyahi:
    sum += reqem
    
print(reqem)

10

In [24]:
siyahi = [1,5,10]

count = 0
for reqem in siyahi:
    count += 1
    
print(count)

3

# scope

In [ ]:
# cem = 100

def toplama(a,b):
    cem = a + b
    return cem

print(toplama(1,2))
cem

3

100

In [ ]:
1+2

In [26]:
cem

NameError: name 'cem' is not defined