In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([10,20,30,40,50])
df = pd.DataFrame([s1,s2]).T
df

   0   1
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50

In [7]:
csv_path_str = r"C:\Users\user\Desktop\div\data\world_population.csv"
from pathlib import Path
csv_path = Path(csv_path_str)
df = pd.read_csv(csv_path)
df.head(3)

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56

In [12]:
# df.Country
df['Country']
df.loc[:, 'Country']
df.iloc[:, 2]

0            Afghanistan
1                Albania
2                Algeria
3         American Samoa
4                Andorra
             ...
229    Wallis and Futuna
230       Western Sahara
231                Yemen
232               Zambia
233             Zimbabwe
Name: Country, Length: 234, dtype: object

In [ ]:
cols = ['Country', 'Continent', '2022 Population']
# df[cols]
# df.loc[:, cols]
cols_i = [2,4,5]
df.iloc[:, cols_i]

               Country Continent  2022 Population
0          Afghanistan      Asia       41128771.0
1              Albania    Europe        2842321.0
2              Algeria    Africa       44903225.0
3       American Samoa   Oceania          44273.0
4              Andorra    Europe          79824.0
..                 ...       ...              ...
229  Wallis and Futuna   Oceania          11572.0
230     Western Sahara    Africa         575986.0
231              Yemen      Asia       33696614.0
232             Zambia    Africa       20017675.0
233           Zimbabwe    Africa       16320537.0

[234 rows x 3 columns]

In [22]:
df.head(3)

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56

In [ ]:
df.loc[:, 'Country':'2022 Population']
df.iloc[:, 2:6]

               Country           Capital Continent  2022 Population
0          Afghanistan             Kabul      Asia       41128771.0
1              Albania            Tirana    Europe        2842321.0
2              Algeria           Algiers    Africa       44903225.0
3       American Samoa         Pago Pago   Oceania          44273.0
4              Andorra  Andorra la Vella    Europe          79824.0
..                 ...               ...       ...              ...
229  Wallis and Futuna          Mata-Utu   Oceania          11572.0
230     Western Sahara          El Aaiún    Africa         575986.0
231              Yemen             Sanaa      Asia       33696614.0
232             Zambia            Lusaka    Africa       20017675.0
233           Zimbabwe            Harare    Africa       16320537.0

[234 rows x 4 columns]

In [26]:
df.head(2)

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04

In [28]:
df2 = df.set_index('CCA3')
df2.head(2)

,Rank,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
CCA3,,,,,,,,,,,,,,,,
AFG,36,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
ALB,138,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04

In [30]:
df2.iloc[0]
df2.loc['AFG']

Rank                                    36
Country                        Afghanistan
Capital                              Kabul
Continent                             Asia
2022 Population                 41128771.0
2020 Population                 38972230.0
2015 Population                 33753499.0
2010 Population                 28189672.0
2000 Population                 19542982.0
1990 Population                 10694796.0
1980 Population                 12486631.0
1970 Population                 10752971.0
Area (km²)                        652230.0
Density (per km²)                  63.0587
Growth Rate                         1.0257
World Population Percentage           0.52
Name: AFG, dtype: object

In [35]:
df2.loc['AFG':'AZE']
df2.iloc[0:14]

,Rank,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
CCA3,,,,,,,,,,,,,,,,
AFG,36,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
ALB,138,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
DZA,34,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
ASM,213,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
AND,203,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
AGO,42,Angola,Luanda,Africa,35588987.0,33428485.0,28127721.0,23364185.0,16394062.0,11828638.0,8330047.0,6029700.0,1246700.0,28.5466,1.0315,0.45
AIA,224,Anguilla,The Valley,North America,15857.0,15585.0,14525.0,13172.0,11047.0,8316.0,6560.0,6283.0,91.0,174.2527,1.0066,0.00
ATG,201,Antigua and Barbuda,Saint John’s,North America,93763.0,92664.0,89941.0,85695.0,75055.0,63328.0,64888.0,64516.0,442.0,212.1335,1.0058,0.00
ARG,33,Argentina,Buenos Aires,South America,45510318.0,45036032.0,43257065.0,41100123.0,37070774.0,32637657.0,28024803.0,23842803.0,2780400.0,16.3683,1.0052,0.57
ARM,140,Armenia,Yerevan,Asia,2780469.0,2805608.0,2878595.0,2946293.0,3168523.0,3556539.0,3135123.0,2534377.0,29743.0,93.4831,0.9962,0.03
ABW,198,Aruba,Oranjestad,North America,106445.0,106585.0,104257.0,100341.0,89101.0,65712.0,62267.0,59106.0,180.0,591.3611,0.9991,0.00
AUS,55,Australia,Canberra,Oceania,26177413.0,25670051.0,23820236.0,22019168.0,19017963.0,17048003.0,14706322.0,12595034.0,7692024.0,3.4032,1.0099,0.33
AUT,99,Austria,Vienna,Europe,8939617.0,8907777.0,8642421.0,8362829.0,8010428.0,7678729.0,7547561.0,7465301.0,83871.0,106.5877,1.0020,0.11
AZE,91,Azerbaijan,Baku,Asia,10358074.0,NaN,9863480.0,9237202.0,8190337.0,7427836.0,6383060.0,5425317.0,86600.0,119.6082,1.0044,0.13

In [63]:
df2.loc['AFG':'AZE', 'Country':'2022 Population']
df2.iloc[0:14, 1:5]

                  Country           Capital      Continent  2022 Population
CCA3
AFG           Afghanistan             Kabul           Asia       41128771.0
ALB               Albania            Tirana         Europe        2842321.0
DZA               Algeria           Algiers         Africa       44903225.0
ASM        American Samoa         Pago Pago        Oceania          44273.0
AND               Andorra  Andorra la Vella         Europe          79824.0
AGO                Angola            Luanda         Africa       35588987.0
AIA              Anguilla        The Valley  North America          15857.0
ATG   Antigua and Barbuda      Saint John’s  North America          93763.0
ARG             Argentina      Buenos Aires  South America       45510318.0
ARM               Armenia           Yerevan           Asia        2780469.0
ABW                 Aruba        Oranjestad  North America         106445.0
AUS             Australia          Canberra        Oceania       26177413.0
AUT               Austria            Vienna         Europe        8939617.0
AZE            Azerbaijan              Baku           Asia       10358074.0

In [70]:
df2.loc['AFG':'AZE', 'Country':'2022 Population']

                  Country           Capital      Continent  2022 Population
CCA3
AFG           Afghanistan             Kabul           Asia       41128771.0
ALB               Albania            Tirana         Europe        2842321.0
DZA               Algeria           Algiers         Africa       44903225.0
ASM        American Samoa         Pago Pago        Oceania          44273.0
AND               Andorra  Andorra la Vella         Europe          79824.0
AGO                Angola            Luanda         Africa       35588987.0
AIA              Anguilla        The Valley  North America          15857.0
ATG   Antigua and Barbuda      Saint John’s  North America          93763.0
ARG             Argentina      Buenos Aires  South America       45510318.0
ARM               Armenia           Yerevan           Asia        2780469.0
ABW                 Aruba        Oranjestad  North America         106445.0
AUS             Australia          Canberra        Oceania       26177413.0
AUT               Austria            Vienna         Europe        8939617.0
AZE            Azerbaijan              Baku           Asia       10358074.0

In [77]:
m = df2.loc[:, '2022 Population'] > 50e6
df2.loc[m, ['Country', 'Continent']]

             Country      Continent
CCA3
BGD       Bangladesh           Asia
BRA           Brazil  South America
CHN            China           Asia
COL         Colombia  South America
COD         DR Congo         Africa
EGY            Egypt         Africa
ETH         Ethiopia         Africa
FRA           France         Europe
DEU          Germany         Europe
IND            India           Asia
IDN        Indonesia           Asia
IRN             Iran           Asia
ITA            Italy         Europe
JPN            Japan           Asia
KEN            Kenya         Africa
MEX           Mexico  North America
MMR          Myanmar           Asia
NGA          Nigeria         Africa
PAK         Pakistan           Asia
PHL      Philippines           Asia
RUS           Russia         Europe
ZAF     South Africa         Africa
KOR      South Korea           Asia
TZA         Tanzania         Africa
THA         Thailand           Asia
TUR           Turkey           Asia
GBR   United Kingdom         Europe
USA    United States  North America
VNM          Vietnam           Asia

In [85]:
s_2025 = df2.loc[:, '2022 Population'] * 1.2
s_2025

CCA3
AFG    49354525.2
ALB     3410785.2
DZA    53883870.0
ASM       53127.6
AND       95788.8
          ...
WLF       13886.4
ESH      691183.2
YEM    40435936.8
ZMB    24021210.0
ZWE    19584644.4
Name: 2022 Population, Length: 234, dtype: float64

In [86]:
df2['2025 Population'] = s_2025
df2

,Rank,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage,2025 Population
CCA3,,,,,,,,,,,,,,,,,
AFG,36,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52,49354525.2
ALB,138,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04,3410785.2
DZA,34,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56,53883870.0
ASM,213,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00,53127.6
AND,203,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00,95788.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WLF,226,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00,13886.4
ESH,172,Western Sahara,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01,691183.2
YEM,46,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42,40435936.8
ZMB,63,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25,24021210.0
ZWE,74,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20,19584644.4

In [90]:
gr_2025 = df2['Growth Rate'] * 0.8
df2['Growth Rate2'] = gr_2025
df2

,Rank,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage,2025 Population,Growth Rate2
CCA3,,,,,,,,,,,,,,,,,,
AFG,36,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52,49354525.2,0.82056
ALB,138,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04,3410785.2,0.79656
DZA,34,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56,53883870.0,0.81312
ASM,213,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00,53127.6,0.78648
AND,203,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00,95788.8,0.80800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WLF,226,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00,13886.4,0.79624
ESH,172,Western Sahara,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01,691183.2,0.81472
YEM,46,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42,40435936.8,0.81736
ZMB,63,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25,24021210.0,0.82240
ZWE,74,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20,19584644.4,0.81632

In [95]:
df2.sort_index(axis='columns', ascending = False)

,World Population Percentage,Rank,Growth Rate2,Growth Rate,Density (per km²),Country,Continent,Capital,Area (km²),2025 Population,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population
CCA3,,,,,,,,,,,,,,,,,,
AFG,0.52,36,0.82056,1.0257,63.0587,Afghanistan,Asia,Kabul,652230.0,49354525.2,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0
ALB,0.04,138,0.79656,0.9957,98.8702,Albania,Europe,Tirana,28748.0,3410785.2,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0
DZA,0.56,34,0.81312,1.0164,18.8531,Algeria,Africa,Algiers,2381741.0,53883870.0,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0
ASM,0.00,213,0.78648,0.9831,222.4774,American Samoa,Oceania,Pago Pago,199.0,53127.6,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0
AND,0.00,203,0.80800,1.0100,170.5641,Andorra,Europe,Andorra la Vella,468.0,95788.8,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WLF,0.00,226,0.79624,0.9953,81.4930,Wallis and Futuna,Oceania,Mata-Utu,142.0,13886.4,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0
ESH,0.01,172,0.81472,1.0184,2.1654,Western Sahara,Africa,El Aaiún,266000.0,691183.2,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0
YEM,0.42,46,0.81736,1.0217,63.8232,Yemen,Asia,Sanaa,527968.0,40435936.8,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0
ZMB,0.25,63,0.82240,1.0280,26.5976,Zambia,Africa,Lusaka,752612.0,24021210.0,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0
ZWE,0.20,74,0.81632,1.0204,41.7665,Zimbabwe,Africa,Harare,390757.0,19584644.4,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0

In [112]:
df2.head(2)

,Rank,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage,2025 Population,Growth Rate2
CCA3,,,,,,,,,,,,,,,,,,
AFG,36,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52,49354525.2,0.82056
ALB,138,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04,3410785.2,0.79656

In [ ]:
del df2['alsdjfal']

,Rank,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage,2025 Population,Growth Rate2
CCA3,,,,,,,,,,,,,,,,,
AFG,36,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52,49354525.2,0.82056
ALB,138,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04,3410785.2,0.79656
DZA,34,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56,53883870.0,0.81312
ASM,213,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00,53127.6,0.78648
AND,203,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00,95788.8,0.80800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WLF,226,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00,13886.4,0.79624
ESH,172,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01,691183.2,0.81472
YEM,46,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42,40435936.8,0.81736
ZMB,63,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25,24021210.0,0.82240
ZWE,74,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20,19584644.4,0.81632

In [119]:
df2 = df.set_index('CCA3')
df2.head(2)

,Rank,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
CCA3,,,,,,,,,,,,,,,,
AFG,36,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
ALB,138,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04

In [ ]:
# df2.sort_index(axis='columns', ascending=True)
df2.sort_values(
    ['Continent', '2022 Population'], 
    ascending=[True, False]
    )

,Rank,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
CCA3,,,,,,,,,,,,,,,,
NGA,6,Nigeria,Abuja,Africa,218541212.0,208327405.0,183995785.0,160952853.0,122851984.0,95214257.0,72951439.0,55569264.0,923768.0,236.5759,1.0241,2.74
ETH,12,Ethiopia,Addis Ababa,Africa,123379924.0,117190911.0,102471895.0,89237791.0,67031867.0,47878073.0,34945469.0,28308246.0,1104300.0,111.7268,1.0257,1.55
EGY,14,Egypt,Cairo,Africa,110990103.0,107465134.0,97723799.0,87252413.0,71371371.0,57214630.0,43748556.0,34781986.0,1002450.0,110.7188,1.0158,1.39
COD,15,DR Congo,Kinshasa,Africa,99010212.0,92853164.0,78656904.0,66391257.0,48616317.0,35987541.0,26708686.0,20151733.0,2344858.0,42.2244,1.0325,1.24
TZA,22,Tanzania,Dodoma,Africa,65497748.0,61704518.0,52542823.0,45110527.0,34463704.0,26206012.0,19297659.0,13618192.0,945087.0,69.3034,1.0300,0.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
URY,133,Uruguay,Montevideo,South America,3422794.0,3429086.0,3402818.0,3352651.0,3292224.0,3117012.0,2953750.0,2790265.0,181034.0,18.9069,0.9990,0.04
GUY,164,Guyana,Georgetown,South America,808726.0,797202.0,755031.0,747932.0,759051.0,747116.0,778176.0,705261.0,214969.0,3.7621,1.0052,0.01
SUR,170,Suriname,Paramaribo,South America,618040.0,607065.0,575475.0,546080.0,478998.0,412756.0,375112.0,379918.0,163820.0,3.7727,1.0082,0.01
GUF,184,French Guiana,Cayenne,South America,304557.0,290969.0,257026.0,228453.0,164351.0,113931.0,66825.0,46484.0,83534.0,3.6459,1.0239,0.00
FLK,231,Falkland Islands,Stanley,South America,3780.0,3747.0,3408.0,3187.0,3080.0,2332.0,2240.0,2274.0,12173.0,0.3105,1.0043,0.00

In [148]:
# df2['2022 Population']
m1 = df2.loc[:, '2022 Population'] > 50e6
m2 = df2.loc[:, 'Continent'] == 'Asia'
df2.loc[m1&m2, :]

,Rank,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
CCA3,,,,,,,,,,,,,,,,
BGD,8,Bangladesh,Dhaka,Asia,1.711864e+08,1.674210e+08,1.578300e+08,1.483911e+08,1.291933e+08,1.071477e+08,83929765.0,67541860.0,147570.0,1160.0350,1.0108,2.15
CHN,1,China,Beijing,Asia,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0,9706961.0,146.8933,1.0000,17.88
IND,2,India,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77
IDN,4,Indonesia,Jakarta,Asia,2.755013e+08,2.718580e+08,2.590920e+08,2.440162e+08,2.140724e+08,1.821599e+08,148177096.0,115228394.0,1904569.0,144.6529,1.0064,3.45
IRN,17,Iran,Tehran,Asia,8.855057e+07,8.729019e+07,8.179084e+07,7.537386e+07,6.554438e+07,5.579363e+07,38520664.0,28449705.0,1648195.0,53.7258,1.0071,1.11
JPN,11,Japan,Tokyo,Asia,1.239517e+08,1.252448e+08,1.272509e+08,1.281054e+08,1.268039e+08,1.236863e+08,117624196.0,105416839.0,377930.0,327.9753,0.9947,1.55
MMR,26,Myanmar,Nay Pyi Taw,Asia,5.417931e+07,5.342320e+07,5.148395e+07,4.939099e+07,4.553833e+07,4.009955e+07,33465781.0,27284112.0,676578.0,80.0784,1.0071,0.68
PAK,5,Pakistan,Islamabad,Asia,2.358249e+08,2.271967e+08,2.109693e+08,1.944545e+08,1.543699e+08,1.154141e+08,80624057.0,59290872.0,881912.0,267.4018,1.0191,2.96
PHL,13,Philippines,Manila,Asia,1.155590e+08,1.121910e+08,1.030314e+08,9.463670e+07,7.795822e+07,6.155890e+07,48419546.0,37435586.0,342353.0,337.5434,1.0147,1.45
KOR,29,South Korea,Seoul,Asia,5.181581e+07,5.184469e+07,5.099440e+07,4.881304e+07,4.678859e+07,4.412004e+07,38170501.0,32601143.0,100210.0,517.0722,0.9997,0.65
THA,20,Thailand,Bangkok,Asia,7.169703e+07,7.147566e+07,7.029440e+07,6.827049e+07,6.306660e+07,5.522841e+07,45737753.0,NaN,513120.0,139.7276,1.0013,0.90
TUR,18,Turkey,Ankara,Asia,8.534124e+07,8.413543e+07,7.964618e+07,7.319534e+07,6.411355e+07,5.432414e+07,44089069.0,35540990.0,783562.0,108.9145,1.0067,1.07
VNM,16,Vietnam,Hanoi,Asia,9.818686e+07,9.664868e+07,9.219140e+07,8.741101e+07,7.900114e+07,6.691261e+07,52968270.0,41928849.0,331212.0,296.4472,1.0074,1.23

In [153]:
# s = df2.pop('Country')
# del df2['Country']
# df2.drop(['Country'], axis='columns')

In [184]:
df_pop = df2.loc[:, '2022 Population':'1970 Population']
df_pop.head()

,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population
CCA3,,,,,,,,
AFG,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0
ALB,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0
DZA,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0
ASM,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0
AND,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0

In [223]:
m = df_pop > 50e6
df_pop[m].dropna(axis='rows', how='any')

,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population
CCA3,,,,,,,,
BGD,1.711864e+08,1.674210e+08,1.578300e+08,1.483911e+08,1.291933e+08,1.071477e+08,83929765.0,67541860.0
BRA,2.153135e+08,2.131963e+08,2.051882e+08,1.963535e+08,1.758737e+08,1.507064e+08,122288383.0,96369875.0
CHN,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0
FRA,6.462663e+07,6.448005e+07,6.380977e+07,6.244457e+07,5.866545e+07,5.641290e+07,53713830.0,50523586.0
DEU,8.336984e+07,8.332899e+07,8.207323e+07,8.132509e+07,8.155168e+07,7.937020e+07,77786703.0,78294583.0
IDN,2.755013e+08,2.718580e+08,2.590920e+08,2.440162e+08,2.140724e+08,1.821599e+08,148177096.0,115228394.0
ITA,5.903747e+07,5.950058e+07,6.023291e+07,5.982245e+07,5.696640e+07,5.675656e+07,56329482.0,53324036.0
JPN,1.239517e+08,1.252448e+08,1.272509e+08,1.281054e+08,1.268039e+08,1.236863e+08,117624196.0,105416839.0
MEX,1.275041e+08,1.259983e+08,1.201499e+08,1.125324e+08,9.787344e+07,8.172043e+07,67705186.0,50289306.0
NGA,2.185412e+08,2.083274e+08,1.839958e+08,1.609529e+08,1.228520e+08,9.521426e+07,72951439.0,55569264.0
PAK,2.358249e+08,2.271967e+08,2.109693e+08,1.944545e+08,1.543699e+08,1.154141e+08,80624057.0,59290872.0
RUS,1.447133e+08,1.456173e+08,1.446684e+08,1.432426e+08,1.468448e+08,1.480057e+08,138257420.0,130093010.0
GBR,6.750894e+07,6.705947e+07,6.522436e+07,6.276004e+07,5.885004e+07,5.721044e+07,56326328.0,55650166.0
USA,3.382899e+08,3.359420e+08,3.246078e+08,3.111828e+08,2.823986e+08,2.480837e+08,223140018.0,200328340.0

In [222]:
import numpy as np
arr = np.array([1,2,3,4,5])
m = arr > 3
m

array([False, False, False,  True,  True])

In [220]:
from functools import reduce
reduce((lambda a,b : a and b), m)

np.False_

In [227]:
df2.iloc[41]

Rank                                      1
Country                               China
Capital                             Beijing
Continent                              Asia
2022 Population                1425887337.0
2020 Population                1424929781.0
2015 Population                1393715448.0
2010 Population                1348191368.0
2000 Population                1264099069.0
1990 Population                1153704252.0
1980 Population                 982372466.0
1970 Population                 822534450.0
Area (km²)                        9706961.0
Density (per km²)                  146.8933
Growth Rate                             1.0
World Population Percentage           17.88
Name: CHN, dtype: object

In [235]:
df_pop.head()

,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population
CCA3,,,,,,,,
AFG,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0
ALB,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0
DZA,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0
ASM,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0
AND,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0

In [ ]:
df_pop.median()

CCA3
AFG    195521552.0
ALB     23248519.0
DZA    252582377.0
ASM       362688.0
AND       475926.0
          ...
WLF        97420.0
ESH      2679204.0
YEM    167293517.0
ZMB     80317122.0
ZWE     93186324.0
Length: 234, dtype: float64

In [249]:
df_pop[df_pop.isna().any(axis=1)]

,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population
CCA3,,,,,,,,
AZE,1.035807e+07,NaN,9.863480e+06,9.237202e+06,8.190337e+06,7427836.0,6383060.0,5425317.0
COL,5.187402e+07,5.093066e+07,4.711973e+07,NaN,3.921514e+07,32601393.0,26176195.0,20905254.0
GNQ,1.674908e+06,1.596049e+06,NaN,1.094524e+06,6.849770e+05,465549.0,282509.0,316955.0
SWZ,NaN,1.180655e+06,1.133936e+06,1.099920e+06,1.030496e+06,854011.0,598564.0,442865.0
GMB,2.705992e+06,2.573995e+06,2.253133e+06,NaN,NaN,NaN,NaN,NaN
GEO,3.744385e+06,3.765912e+06,3.771132e+06,NaN,NaN,NaN,NaN,NaN
HUN,9.967308e+06,9.750573e+06,9.844246e+06,9.986825e+06,1.020206e+07,NaN,NaN,10315366.0
ISL,3.728990e+05,3.666690e+05,3.310600e+05,3.183330e+05,2.814620e+05,NaN,NaN,204468.0
IND,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0
MYS,3.393822e+07,3.319999e+07,3.106883e+07,NaN,NaN,17517054.0,13215707.0,10306508.0
MDV,5.237870e+05,5.144380e+05,4.355820e+05,NaN,NaN,224957.0,164887.0,123243.0
MOZ,3.296952e+07,3.117824e+07,NaN,NaN,1.776850e+07,13303459.0,11413587.0,8411676.0
NOR,NaN,5.379839e+06,NaN,4.889741e+06,4.491202e+06,4241636.0,4085776.0,3875546.0
PLW,NaN,1.797200e+04,1.779400e+04,1.854000e+04,1.972600e+04,15293.0,12252.0,11366.0
SMR,3.366000e+04,3.400700e+04,3.357000e+04,3.160800e+04,NaN,23132.0,21346.0,18169.0
SOM,1.759751e+07,1.653702e+07,1.376391e+07,1.202665e+07,8.721465e+06,6999096.0,5892224.0,NaN
SSD,1.091316e+07,1.060623e+07,1.119430e+07,NaN,6.114440e+06,4750817.0,4192011.0,3342410.0
THA,7.169703e+07,7.147566e+07,7.029440e+07,6.827049e+07,6.306660e+07,55228410.0,45737753.0,NaN
TLS,NaN,1.299995e+06,1.205813e+06,1.088486e+06,NaN,758106.0,642224.0,554021.0
VEN,2.830170e+07,2.849045e+07,3.052972e+07,2.871502e+07,NaN,19750579.0,15210443.0,11355475.0
ZMB,2.001768e+07,1.892772e+07,NaN,1.379209e+07,9.891136e+06,7686401.0,5720438.0,4281671.0

In [251]:
df5 = df_pop.fillna(0)
df5.loc['AZE']

2022 Population    10358074.0
2020 Population           0.0
2015 Population     9863480.0
2010 Population     9237202.0
2000 Population     8190337.0
1990 Population     7427836.0
1980 Population     6383060.0
1970 Population     5425317.0
Name: AZE, dtype: float64

In [254]:
df2['Continent'].drop_duplicates()

CCA3
AFG             Asia
ALB           Europe
DZA           Africa
ASM          Oceania
AIA    North America
ARG    South America
Name: Continent, dtype: object