# Conditionals

In [20]:
fruits = ['alma', 'armud', 'qarpiz']

if 'chiyelek' in fruits:
    print('chiyelike fruitsdadir')
elif 'mandarin' in fruits:
    print('mandarin fruitsdadir')
else:
    print('meyve yoxdur')

meyve yoxdur

In [ ]:
age = 20

if age >= 20: # True ctrl shift [
	print('yetkin')
	if age > 60:
		print('yashli')
	elif age > 40:
		print('orta yashli')
	else:
		print('genc')
elif age <20:
	print('askjdfla')
else:
    print('yeniyetme')

yetkin
genc

In [ ]:
# single line conditionals
if age >= 20: print('yetkin')

yetkin

In [29]:
age

20

In [30]:
if age>=20:
    x = 'a'
else:
    x = 'b'
print(x)

a

In [ ]:
x = 'a' if age >= 20 else 'b'; print(x)

a

In [ ]:
# match
day = 'Holiday'

match day:
    case 'Monday':
        print('monday')
    case 'Tuesday':
        print('tuesday')
    case 'Wednesday':
        print('x')
    case 'Thursday':
        print('y')
    case 'Friday':
        print('z')
    case 'Saturday':
        print('w')
    case 'Sunday':
        print('w')
    case _:
        print('invalid weekday')

invalid weekday

# Loops

In [35]:
# for

fruits

['alma', 'armud', 'qarpiz']

In [41]:
print(fruits[0][-1])
print(fruits[1][-1])
print(fruits[2][-1])

a
d
z

In [52]:
for meyve in fruits: # f = fruits[i]
    print(meyve[::-1])

amla
dumra
zipraq

In [ ]:
meyve = 'alma'
meyve[::-1]
meyve = 'armud'
meyve[::-1]
meyve = 'qarpiz'
meyve[::-1]

'zipraq'

In [51]:
meyve

'qarpiz'

In [59]:
# ages = [20, 21, 22, 23, 24]

for age in range(20, 25, 2): # 20:25:2
    print(age*2)

40
44
48

In [66]:
marka, model, engine, year = 'hyundai', 'tucson', 2.0, 2005

In [71]:
# break, pass, continue

name_age = [('ali', 20), ('hesen', 21), ('xalide', 30), ('gulnar', 25)]

i = 0
for n,a in name_age:
    print(i)
    print(n,a)
    i=i+1

0
ali 20
1
hesen 21
2
xalide 30
3
gulnar 25

In [79]:
name_age = [('ali', 20), ('hesen', 21), ('xalide', 30), ('gulnar', 25)]

for i, (n,a) in enumerate(name_age):
    if i == 1:
	    break
    print(i)
    print(n,a)
    print('---')

0
ali 20
---

In [82]:
name_age = [('ali', 20), ('hesen', 21), ('xalide', 30), ('gulnar', 25), ('hesen', 51)]

for i, (n,a) in enumerate(name_age):
    if n == 'hesen' and a==21:
        continue
    print(i)
    print(n,a)
    print('---')

0
ali 20
---
2
xalide 30
---
3
gulnar 25
---
4
hesen 51
---

In [11]:
name_age = [('ali', 20), ('hesen', 21), ('xalide', 30), ('gulnar', 21), ('hesen', 51)]

for i, (n,a) in enumerate(name_age):
    print(i)
    print(n,a)
    print('---')
    # if a == 21:
    #     continue

0
ali 20
---
1
hesen 21
---
2
xalide 30
---
3
gulnar 21
---
4
hesen 51
---

In [ ]:
# while 

count = 0

while count<10:
    print(count)
    count += 1

0
1
2
3
4
5

In [9]:
# break continue pass

In [9]:
names = ['ali', 'hesen', 'gulnar', 'xalide']
ages = [20, 21, 22]
heights = [180, 170]

for name in names:
	print(name)
	for age in ages:
		print(age)
		for h in heights:
			print(h)

ali
20
180
170
21
180
170
22
180
170
hesen
20
180
170
21
180
170
22
180
170
gulnar
20
180
170
21
180
170
22
180
170
xalide
20
180
170
21
180
170
22
180
170

In [10]:
# nested loops

In [12]:
name_age

[('ali', 20), ('hesen', 21), ('xalide', 30), ('gulnar', 21), ('hesen', 51)]

In [26]:
[(n,a*2) for n, a in name_age if n[0]=='h']

[('hesen', 42), ('hesen', 102)]

# list comprehensions

In [ ]:
# if in list comprehensions

In [11]:
# if else in list comprehensions

In [ ]:
# nested list comprehensions