In [2]:
my_list = [1,2,3]
my_list

[1, 2, 3]

In [3]:
my_list.append('hesen')

In [4]:
my_list

[1, 2, 3, 'hesen']

In [5]:
my_list.insert(3, 'ali')
my_list

[1, 2, 3, 'ali', 'hesen']

In [6]:
my_list2 = ['x', 'y']
my_list.extend(my_list2)
my_list

[1, 2, 3, 'ali', 'hesen', 'x', 'y']

In [ ]:
my_list.insert(3, 'kitab')

[3, 'ali', 'hesen', 'x', 'y']

In [8]:
my_list

[1, 2, 3, 'ali', 'hesen', 'x', 'y']

In [ ]:
if my_list[3] != 'ali':
    pass
elif:
	asldjfa
elif:
	asldjfa
	elif:
		asldjfa
else:
    my_list.insert(3, 'qutab')
    
my_list

[1, 2, 3, 'qutab', 'ali', 'hesen', 'x', 'y']

In [1]:
my_list = [1, 2, 3, 'ali', 'hesen', 'x', 'y']
my_list

[1, 2, 3, 'ali', 'hesen', 'x', 'y']

In [8]:
for nese in my_list:
    print(nese) if type(nese) == str else print('?')

?
?
?
ali
hesen
x
y

In [9]:
i = 0
while type(my_list[i]) == str:
    print(my_list[i])
    i += 1

1
2
3

# List comprehension

In [12]:
reqemler = [1,3,7,11]
kvadratlar = []

for reqem in reqemler:
    kvadrat = reqem**2
    kvadratlar.append(kvadrat)
    
kvadratlar

[1, 9, 49, 121]

In [15]:
reqemler = [1,3,7,11]
kvadradlar = [reqem**2 for reqem in reqemler]
kvadradlar

[1, 9, 49, 121]

In [16]:
reqemler = [-2,-1,1,3,4,7,11]
kvadradlar = [reqem**2 for reqem in reqemler]
kvadradlar

[4, 1, 1, 9, 16, 49, 121]

In [33]:
my_matrix = [
    [1,2,3],
    [4,5,6],
    ['a','b','c'],
]

[setir for setir in my_matrix for elem in setir]

[[1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [4, 5, 6],
 [4, 5, 6],
 [4, 5, 6],
 ['a', 'b', 'c'],
 ['a', 'b', 'c'],
 ['a', 'b', 'c']]

# Dictionary

In [ ]:
int
str
bool
float
None

list
tuple

In [ ]:
{
    'key' : 'value',
    'key2' : 'value2',
}

In [34]:
person = {
    "ad" : "shahriyar",
    "soyad" : "mammadli",
    "yash" : 33
}

person

{'ad': 'shahriyar', 'soyad': 'mammadli', 'yash': 33}

In [38]:
person['yash'] = 34
person

{'ad': 'shahriyar', 'soyad': 'mammadli', 'yash': 34}

In [50]:
del person['ad']
person

{'soyad': 'mammadli', 'yash': 34}

In [51]:
person

{'soyad': 'mammadli', 'yash': 34}

In [52]:
person['ad'] = 'ali'
person

{'soyad': 'mammadli', 'yash': 34, 'ad': 'ali'}

In [54]:
person['boy']

KeyError: 'boy'

In [55]:
person.get('boy', 180)

180

In [56]:
person = {
    "ad" : "shahriyar",
    "soyad" : "mammadli",
    "yash" : 33,
    "nomreler" : ['055532420', '0552348203'],
    "qeydiyyat" : {
        'daimi' : 'Absheron',
        'faktiki' : 'Baki',
	}
}
person['qeydiyyat']

{'daimi': 'Absheron', 'faktiki': 'Baki'}

# set

In [61]:
my_set = {180,20,20}
my_set

{20, 180}

In [78]:
my_set.add('ali')
my_set.add('ali')
my_set

{180, 20, 'ali'}

In [77]:
adlar = {'ali', 'hesen'}
# adlar.intersection(my_set)
# adlar.union(my_set)
# adlar.difference(my_set)
# adlar.difference_update(my_set)
# adlar

In [81]:
# u = my_set.union(adlar)
# i = my_set.intersection(adlar)
# u.difference(i)

In [83]:
# my_set.symmetric_difference(adlar)

# Functions

In [26]:
a = 5

In [29]:
# definition
def kvadrat(nese):
    return nese**2
    
y = kvadrat(5)
y

25

In [30]:
# definition
from datetime import datetime
def bugunun_tarixini_qaytar():
    return datetime.today()
    
y = bugunun_tarixini_qaytar()
y

datetime.datetime(2025, 11, 13, 20, 32, 7, 403263)

In [ ]:
def topla(neylese, neyise):
    cem = neylese + neyise
    return cem

topla(10,20)

30

In [ ]:
ad = 'eli'

def bol(neyise, neyese):
    if neyese == 0:
        print('sifira bolmek olmaz')
        return
    qismet = neyise / neyese
    ad + '1'
    return qismet

qismet
bol(55,0)

sifira bolmek olmaz

In [ ]:
def quvvete_yukselt(neyi, necenci=2):
    netice = neyi**necenci
    return netice

quvvete_yukselt(11,3)

1331