In [10]:
import numpy as np
import pandas as pd

adlar = np.array(['shahriyar','ali','lale'])
yashlar = [10,20,30]
s = pd.Series(data=[10,20,30], index=['shahriyar','ali','lale'])
s = pd.Series({
    'shahriyar' : 10,
    'ali' : 20,
	'lale' : 30,
})
s

shahriyar    10
ali          20
lale         30
dtype: int64

In [14]:
s.loc[:'ali']
s.iloc[:2]

shahriyar    10
ali          20
dtype: int64

In [16]:
s

shahriyar    10
ali          20
lale         30
dtype: int64

In [18]:
s.values

array([10, 20, 30])

In [20]:
s.to_list()

[10, 20, 30]

In [34]:
from pathlib import Path
csv_path = Path(r"C:\Users\user\Desktop\div\data\world_population.csv")
df = pd.read_csv(csv_path)
df

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

In [27]:
df2 = df.set_index('CCA3')
df2.head(3)

,Rank,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
CCA3,,,,,,,,,,,,,,,,
AFG,36,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
ALB,138,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
DZA,34,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56

In [30]:
s_aze = df2.loc['AZE']
s_aze

Rank                                   91
Country                        Azerbaijan
Capital                              Baku
Continent                            Asia
2022 Population                10358074.0
2020 Population                       NaN
2015 Population                 9863480.0
2010 Population                 9237202.0
2000 Population                 8190337.0
1990 Population                 7427836.0
1980 Population                 6383060.0
1970 Population                 5425317.0
Area (km²)                        86600.0
Density (per km²)                119.6082
Growth Rate                        1.0044
World Population Percentage          0.13
Name: AZE, dtype: object

In [33]:
s_aze.loc['Capital':'Area (km²)']

Capital                  Baku
Continent                Asia
2022 Population    10358074.0
2020 Population           NaN
2015 Population     9863480.0
2010 Population     9237202.0
2000 Population     8190337.0
1990 Population     7427836.0
1980 Population     6383060.0
1970 Population     5425317.0
Area (km²)            86600.0
Name: AZE, dtype: object

In [39]:
s_adlar = pd.Series(['emin', 'elton', 'mahmud', 'shahriyar'])
s_yemek = pd.Series(['ash', 'dolma', 'merci', 'bughlama'])

sinif = pd.DataFrame({
    'ad' : s_adlar,
    'yemek' : s_yemek,
})
sinif

          ad     yemek
0       emin       ash
1      elton     dolma
2     mahmud     merci
3  shahriyar  bughlama

In [56]:
# sinif['yemek']
sinif.loc[: , 'yemek']
sinif.iloc[: , 1]

0         ash
1       dolma
2       merci
3    bughlama
Name: yemek, dtype: object

In [89]:
%pip install openpyxl xlsxwriter

Requirement already satisfied: openpyxl in c:\users\user\miniconda3\envs\ds\lib\site-packages (3.1.5)
Requirement already satisfied: xlsxwriter in c:\users\user\miniconda3\envs\ds\lib\site-packages (3.2.9)
Requirement already satisfied: et-xmlfile in c:\users\user\miniconda3\envs\ds\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# df2['2022 Population']
df2.loc['ARM':'AZE', '2022 Population':'1970 Population']
df2.iloc[9:14, 4:12]

qafqaz = df2.loc[
    ['ARM', "AZE", 'RUS'], 
    ['2022 Population', 'Capital', 'Continent']
    ]
qafqaz.to_excel('qafqaz.xlsx')

In [147]:
q = pd.read_excel('qafqaz.xlsx')
q

  CCA3  2022 Population Capital Continent
0  ARM        2780469.0     NaN      Asia
1  AZE       10358074.0    Baku      Asia
2  RUS              NaN  Moscow    Europe

In [67]:
df2.head(4)

,Rank,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
CCA3,,,,,,,,,,,,,,,,
AFG,36,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
ALB,138,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
DZA,34,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
ASM,213,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00

In [119]:
df3 = df.set_index(['Continent', 'CCA3']).sort_index()
df3 = df3.loc[:, 'Rank':'2015 Population']
df3.columns = [
    ['General', 'General', 'General', 'Population', 'Population','Population'],
    ['Rank', 'Country', 'Capital', '2022 Population', '2020 Population','2015 Population']
]
df3.head(3)

               General                           Population                  \
                  Rank  Country     Capital 2022 Population 2020 Population
Continent CCA3
Africa    AGO       42   Angola      Luanda      35588987.0      33428485.0
          BDI       78  Burundi   Bujumbura      12889576.0      12220227.0
          BEN       77    Benin  Porto-Novo      13352864.0      12643123.0


               2015 Population
Continent CCA3
Africa    AGO       28127721.0
          BDI       10727148.0
          BEN       10932783.0

In [129]:
df3.loc[('Asia', 'AZE'), ('Population', '2022 Population')]

np.float64(10358074.0)

In [131]:
df3.head(3)

               General                           Population                  \
                  Rank  Country     Capital 2022 Population 2020 Population
Continent CCA3
Africa    AGO       42   Angola      Luanda      35588987.0      33428485.0
          BDI       78  Burundi   Bujumbura      12889576.0      12220227.0
          BEN       77    Benin  Porto-Novo      13352864.0      12643123.0


               2015 Population
Continent CCA3
Africa    AGO       28127721.0
          BDI       10727148.0
          BEN       10932783.0

In [137]:
df3.drop(labels=('Asia', 'AZE'), axis='rows').head(3)

               General                           Population                  \
                  Rank  Country     Capital 2022 Population 2020 Population
Continent CCA3
Africa    AGO       42   Angola      Luanda      35588987.0      33428485.0
          BDI       78  Burundi   Bujumbura      12889576.0      12220227.0
          BEN       77    Benin  Porto-Novo      13352864.0      12643123.0


               2015 Population
Continent CCA3
Africa    AGO       28127721.0
          BDI       10727148.0
          BEN       10932783.0

In [140]:
df4 = df3.droplevel('Continent', axis='rows').droplevel(0, axis='columns')
df4.head()

,Rank,Country,Capital,2022 Population,2020 Population,2015 Population
CCA3,,,,,,
AGO,42,Angola,Luanda,35588987.0,33428485.0,28127721.0
BDI,78,Burundi,Bujumbura,12889576.0,12220227.0,10727148.0
BEN,77,Benin,Porto-Novo,13352864.0,12643123.0,10932783.0
BFA,58,Burkina Faso,Ouagadougou,22673762.0,21522626.0,18718019.0
BWA,144,Botswana,Gaborone,2630296.0,2546402.0,2305171.0

In [143]:
df4.rename({'Country':'Olke'}, axis='columns').rename({'AGO':'OGA'}, axis='rows')

,Rank,Olke,Capital,2022 Population,2020 Population,2015 Population
CCA3,,,,,,
OGA,42,Angola,Luanda,35588987.0,33428485.0,28127721.0
BDI,78,Burundi,Bujumbura,12889576.0,12220227.0,10727148.0
BEN,77,Benin,Porto-Novo,13352864.0,12643123.0,10932783.0
BFA,58,Burkina Faso,Ouagadougou,22673762.0,21522626.0,18718019.0
BWA,144,Botswana,Gaborone,2630296.0,2546402.0,2305171.0
...,...,...,...,...,...,...
PER,44,Peru,Lima,34049588.0,33304756.0,30711863.0
PRY,109,Paraguay,Asunción,6780744.0,6618695.0,6177950.0
SUR,170,Suriname,Paramaribo,618040.0,607065.0,575475.0
URY,133,Uruguay,Montevideo,3422794.0,3429086.0,3402818.0
VEN,51,Venezuela,Caracas,28301696.0,28490453.0,30529716.0

In [148]:
df5 = df2.loc[['AZE', 'ARM', 'GEO'] , ['Country', '2020 Population']]
df5

         Country  2020 Population
CCA3
AZE   Azerbaijan              NaN
ARM      Armenia        2805608.0
GEO      Georgia        3765912.0

In [155]:
df5.dropna(axis='columns', how='any').reset_index()

  CCA3     Country
0  AZE  Azerbaijan
1  ARM     Armenia
2  GEO     Georgia

In [159]:
df2.sort_values?

Signature:
df2.sort_values(
    by: 'IndexLabel',
    *,
    axis: 'Axis' = 0,
    ascending: 'bool | list[bool] | tuple[bool, ...]' = True,
    inplace: 'bool' = False,
    kind: 'SortKind' = 'quicksort',
    na_position: 'str' = 'last',
    ignore_index: 'bool' = False,
    key: 'ValueKeyFunc | None' = None,
) -> 'DataFrame | None'
Docstring:
Sort by the values along either axis.

Parameters
----------
by : str or list of str
    Name or list of names to sort by.

    - if `axis` is 0 or `'index'` then `by` may contain index
      levels and/or column labels.
    - if `axis` is 1 or `'columns'` then `by` may contain column
      levels and/or index labels.
axis : "{0 or 'index', 1 or 'columns'}", default 0
     Axis to be sorted.
ascending : bool or list of bool, default True
     Sort ascending vs. descending. Specify list for multiple sort
     orders.  If this is a list of bools, must match the length of
     the by.
inplace : bool, default False
     If True, perform operation in-place.
kind : {'quicksort', 'mergesort', 'heapsort', 'stable'}, default 'quicksort'
     Choice of sorting algorithm. See also :func:`numpy.sort` for more
     information. `mergesort` and `stable` are the only stable algorithms. For
     DataFrames, this option is only applied when sorting on a single
     column or label.
na_position : {'first', 'last'}, default 'last'
     Puts NaNs at the beginning if `first`; `last` puts NaNs at the
     end.
ignore_index : bool, default False
     If True, the resulting axis will be labeled 0, 1, …, n - 1.
key : callable, optional
    Apply the key function to the values
    before sorting. This is similar to the `key` argument in the
    builtin :meth:`sorted` function, with the notable difference that
    this `key` function should be *vectorized*. It should expect a
    ``Series`` and return a Series with the same shape as the input.
    It will be applied to each column in `by` independently.

Returns
-------
DataFrame or None
    DataFrame with sorted values or None if ``inplace=True``.

See Also
--------
DataFrame.sort_index : Sort a DataFrame by the index.
Series.sort_values : Similar method for a Series.

Examples
--------
>>> df = pd.DataFrame({
...     'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
...     'col2': [2, 1, 9, 8, 7, 4],
...     'col3': [0, 1, 9, 4, 2, 3],
...     'col4': ['a', 'B', 'c', 'D', 'e', 'F']
... })
>>> df
  col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
3  NaN     8     4    D
4    D     7     2    e
5    C     4     3    F

Sort by col1

>>> df.sort_values(by=['col1'])
  col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
5    C     4     3    F
4    D     7     2    e
3  NaN     8     4    D

Sort by multiple columns

>>> df.sort_values(by=['col1', 'col2'])
  col1  col2  col3 col4
1    A     1     1    B
0    A     2     0    a
2    B     9     9    c
5    C     4     3    F
4    D     7     2    e
3  NaN     8     4    D

Sort Descending

>>> df.sort_values(by='col1', ascending=False)
  col1  col2  col3 col4
4    D     7     2    e
5    C     4     3    F
2    B     9     9    c
0    A     2     0    a
1    A     1     1    B
3  NaN     8     4    D

Putting NAs first

>>> df.sort_values(by='col1', ascending=False, na_position='first')
  col1  col2  col3 col4
3  NaN     8     4    D
4    D     7     2    e
5    C     4     3    F
2    B     9     9    c
0    A     2     0    a
1    A     1     1    B

Sorting with a key function

>>> df.sort_values(by='col4', key=lambda col: col.str.lower())
   col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
3  NaN     8     4    D
4    D     7     2    e
5    C     4     3    F

Natural sort with the key argument,
using the `natsort <https://github.com/SethMMorton/natsort>` package.

>>> df = pd.DataFrame({
...    "time": ['0hr', '128hr', '72hr', '48hr', '96hr'],
...    "value": [10, 20, 30, 40, 50]
... })
>>> df
    time  value
0    0hr     10
1  128hr     20
2   72hr     30
3   48hr     40
4   96hr     50
>>> from natsort import index_natsorted
>>> df.sort_values(
...     by="time",
...     key=lambda x: np.argsort(index_natsorted(df["time"]))
... )
    time  value
0    0hr     10
3   48hr     40
2   72hr     30
4   96hr     50
1  128hr     20
File:      c:\users\user\miniconda3\envs\ds\lib\site-packages\pandas\core\frame.py
Type:      method

In [163]:
df2.sort_values(by=['Continent','Area (km²)'], ascending=[True,False], na_position='first')

,Rank,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
CCA3,,,,,,,,,,,,,,,,
SEN,72,Senegal,Dakar,Africa,17316449.0,16436119.0,14356181.0,12530121.0,9704287.0,7536001.0,5703869.0,4367744.0,NaN,NaN,1.0261,0.22
DZA,34,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
COD,15,DR Congo,Kinshasa,Africa,99010212.0,92853164.0,78656904.0,66391257.0,48616317.0,35987541.0,26708686.0,20151733.0,2344858.0,42.2244,1.0325,1.24
SDN,32,Sudan,Khartoum,Africa,46874204.0,44440486.0,38171178.0,33739933.0,26298773.0,21090886.0,16673586.0,11305206.0,1886068.0,24.8529,1.0267,0.59
LBY,107,Libya,Tripoli,Africa,6812341.0,6653942.0,6192235.0,6491988.0,5154790.0,4236983.0,2962720.0,1909177.0,1759540.0,3.8717,1.0114,0.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GUY,164,Guyana,Georgetown,South America,808726.0,797202.0,755031.0,747932.0,759051.0,747116.0,778176.0,705261.0,214969.0,3.7621,1.0052,0.01
URY,133,Uruguay,Montevideo,South America,3422794.0,3429086.0,3402818.0,3352651.0,3292224.0,3117012.0,2953750.0,2790265.0,181034.0,18.9069,0.9990,0.04
SUR,170,Suriname,Paramaribo,South America,618040.0,607065.0,575475.0,546080.0,478998.0,412756.0,375112.0,379918.0,163820.0,3.7727,1.0082,0.01
GUF,184,French Guiana,Cayenne,South America,304557.0,290969.0,257026.0,228453.0,164351.0,113931.0,66825.0,46484.0,83534.0,3.6459,1.0239,0.00
FLK,231,Falkland Islands,Stanley,South America,3780.0,3747.0,3408.0,3187.0,3080.0,2332.0,2240.0,2274.0,12173.0,0.3105,1.0043,0.00