In [21]:
import numpy as np
arr1 = np.full((2,4), 7.)
arr2 = np.full((2,4), 100.)
arr1

array([[7., 7., 7., 7.],
       [7., 7., 7., 7.]])

In [5]:
arr2

array([[100., 100., 100.],
       [100., 100., 100.]])

In [11]:
np.concatenate([arr1, arr2], axis=0)

array([[  7.,   7.,   7.],
       [  7.,   7.,   7.],
       [100., 100., 100.],
       [100., 100., 100.]])

In [12]:
np.concatenate([arr1, arr2], axis=1)

array([[  7.,   7.,   7., 100., 100., 100.],
       [  7.,   7.,   7., 100., 100., 100.]])

In [22]:
print(arr1)
arr1.sum()

[[7. 7. 7. 7.]
 [7. 7. 7. 7.]]

np.float64(56.0)

In [29]:
np.arange(1,13).reshape(3,4)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [31]:
(
    np.array([ 1,  2,  3,  4]) + 
	np.array([ 5,  6,  7,  8]) + 
	np.array([ 9, 10, 11, 12])
) / 3

array([5., 6., 7., 8.])

In [32]:
np.arange(1,13).reshape(3,4).mean(axis=0)

array([5., 6., 7., 8.])

In [33]:
np.array([10, 26, 42]) / 4

array([ 2.5,  6.5, 10.5])

In [35]:
np.arange(1,13).reshape(3,4).mean(axis=1)

array([ 2.5,  6.5, 10.5])

In [48]:
x = np.arange(1,13).reshape(3,2,2)
x

array([[[ 1,  2],
        [ 3,  4]],

       [[ 5,  6],
        [ 7,  8]],

       [[ 9, 10],
        [11, 12]]])

In [52]:
x.max(axis=2)

array([[ 2,  4],
       [ 6,  8],
       [10, 12]])

In [ ]:
[[ 1,  2],
[ 3,  4]],

In [46]:
# np.max(x)
# x.max()
x.max(axis=0)

array([ 9, 10, 11, 12])

In [55]:
arr1

array([[7., 7., 7., 7.],
       [7., 7., 7., 7.]])

In [56]:
arr2.T

array([[100., 100.],
       [100., 100.],
       [100., 100.],
       [100., 100.]])

In [57]:
arr1 @ arr2.T

array([[2800., 2800.],
       [2800., 2800.]])

In [58]:
x = np.array([1,2,3,4]) 
y = np.array([100,102,103,104]) 

np.dot(x,y)

np.int64(1029)

In [61]:
# %pip install pandas

In [ ]:
import pandas as pd
from pathlib import Path
csv_path = Path(r"C:\Users\user\Desktop\div\data\world_population.csv")
csv_path

WindowsPath('C:/Users/user/Desktop/div/data/world_population.csv')

In [66]:
df = pd.read_csv(csv_path) # data-frame
df

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

In [70]:
df[df['Country'] == 'Azerbaijan']

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
13,91,AZE,Azerbaijan,Baku,Asia,10358074.0,NaN,9863480.0,9237202.0,8190337.0,7427836.0,6383060.0,5425317.0,86600.0,119.6082,1.0044,0.13

In [72]:
df['2022 Population'] # series

0      41128771.0
1       2842321.0
2      44903225.0
3         44273.0
4         79824.0
          ...
229       11572.0
230      575986.0
231    33696614.0
232    20017675.0
233    16320537.0
Name: 2022 Population, Length: 234, dtype: float64

In [75]:
df['2022 Population'].to_dict()

{0: 41128771.0,
 1: 2842321.0,
 2: 44903225.0,
 3: 44273.0,
 4: 79824.0,
 5: 35588987.0,
 6: 15857.0,
 7: 93763.0,
 8: 45510318.0,
 9: 2780469.0,
 10: 106445.0,
 11: 26177413.0,
 12: 8939617.0,
 13: 10358074.0,
 14: 409984.0,
 15: 1472233.0,
 16: 171186372.0,
 17: 281635.0,
 18: 9534954.0,
 19: 11655930.0,
 20: 405272.0,
 21: 13352864.0,
 22: 64184.0,
 23: 782455.0,
 24: 12224110.0,
 25: 3233526.0,
 26: 2630296.0,
 27: 215313498.0,
 28: 31305.0,
 29: 449002.0,
 30: 6781953.0,
 31: 22673762.0,
 32: 12889576.0,
 33: 16767842.0,
 34: 27914536.0,
 35: 38454327.0,
 36: 593149.0,
 37: 68706.0,
 38: 5579144.0,
 39: 17723315.0,
 40: 19603733.0,
 41: 1425887337.0,
 42: 51874024.0,
 43: 836774.0,
 44: 17011.0,
 45: 5180829.0,
 46: 4030358.0,
 47: 11212191.0,
 48: 191163.0,
 49: 1251488.0,
 50: 10493986.0,
 51: 5882261.0,
 52: 1120849.0,
 53: 72737.0,
 54: 11228821.0,
 55: 99010212.0,
 56: 18001000.0,
 57: 110990103.0,
 58: 6336392.0,
 59: 1674908.0,
 60: 3684032.0,
 61: 1326062.0,
 62: nan,
 63: 123379924.0,
 64: 3780.0,
 65: 53090.0,
 66: 929766.0,
 67: 5540745.0,
 68: 64626628.0,
 69: 304557.0,
 70: 306279.0,
 71: 2388992.0,
 72: 2705992.0,
 73: 3744385.0,
 74: 83369843.0,
 75: 33475870.0,
 76: 32649.0,
 77: 10384971.0,
 78: 56466.0,
 79: 125438.0,
 80: 395752.0,
 81: 171774.0,
 82: 17843908.0,
 83: 63301.0,
 84: 13859341.0,
 85: 2105566.0,
 86: 808726.0,
 87: 11584996.0,
 88: 10432860.0,
 89: 7488865.0,
 90: 9967308.0,
 91: 372899.0,
 92: 1417173173.0,
 93: 275501339.0,
 94: 88550570.0,
 95: 44496122.0,
 96: 5023109.0,
 97: 84519.0,
 98: 9038309.0,
 99: 59037474.0,
 100: 28160542.0,
 101: 2827377.0,
 102: 123951692.0,
 103: 110778.0,
 104: 11285869.0,
 105: 19397998.0,
 106: 54027487.0,
 107: 131232.0,
 108: 4268873.0,
 109: 6630623.0,
 110: 7529475.0,
 111: 1850651.0,
 112: 5489739.0,
 113: 2305825.0,
 114: 5302681.0,
 115: 6812341.0,
 116: 39327.0,
 117: 2750055.0,
 118: 647599.0,
 119: 695168.0,
 120: 29611714.0,
 121: 20405317.0,
 122: 33938221.0,
 123: 523787.0,
 124: 22593590.0,
 125: 533286.0,
 126: 41569.0,
 127: 367507.0,
 128: 4736139.0,
 129: 1299469.0,
 130: 326101.0,
 131: 127504125.0,
 132: 114164.0,
 133: 3272996.0,
 134: 36469.0,
 135: 3398366.0,
 136: 627082.0,
 137: 4390.0,
 138: 37457971.0,
 139: 32969517.0,
 140: 54179306.0,
 141: 2567012.0,
 142: 12668.0,
 143: 30547580.0,
 144: 17564014.0,
 145: 289950.0,
 146: 5185288.0,
 147: 6948392.0,
 148: 26207977.0,
 149: 218541212.0,
 150: 1934.0,
 151: 26069416.0,
 152: 2093599.0,
 153: 49551.0,
 154: nan,
 155: 4576298.0,
 156: 235824862.0,
 157: nan,
 158: 5250072.0,
 159: 4408581.0,
 160: 10142619.0,
 161: 6780744.0,
 162: 34049588.0,
 163: 115559009.0,
 164: 39857145.0,
 165: 10270865.0,
 166: 3252407.0,
 167: 2695122.0,
 168: 5970424.0,
 169: 974052.0,
 170: 19659267.0,
 171: 144713314.0,
 172: 13776698.0,
 173: 10967.0,
 174: 47657.0,
 175: 179857.0,
 176: 31791.0,
 177: 5862.0,
 178: 103948.0,
 179: 222382.0,
 180: 33660.0,
 181: 227380.0,
 182: 36408820.0,
 183: 17316449.0,
 184: 7221365.0,
 185: 107118.0,
 186: 8605718.0,
 187: 5975689.0,
 188: 44175.0,
 189: 5643453.0,
 190: 2119844.0,
 191: 724273.0,
 192: 17597511.0,
 193: 59893885.0,
 194: 51815810.0,
 195: 10913164.0,
 196: 47558630.0,
 197: 21832143.0,
 198: 46874204.0,
 199: 618040.0,
 200: 10549347.0,
 201: 8740472.0,
 202: 22125249.0,
 203: 23893394.0,
 204: 9952787.0,
 205: 65497748.0,
 206: 71697030.0,
 207: nan,
 208: 8848699.0,
 209: 1871.0,
 210: 106858.0,
 211: 1531044.0,
 212: 12356117.0,
 213: 85341241.0,
 214: 6430770.0,
 215: 45703.0,
 216: 11312.0,
 217: 47249585.0,
 218: 39701739.0,
 219: 9441129.0,
 220: 67508936.0,
 221: 338289857.0,
 222: 99465.0,
 223: 3422794.0,
 224: 34627652.0,
 225: 326740.0,
 226: 510.0,
 227: 28301696.0,
 228: 98186856.0,
 229: 11572.0,
 230: 575986.0,
 231: 33696614.0,
 232: 20017675.0,
 233: 16320537.0}

In [76]:
df['2022 Population'].to_numpy()

array([4.11287710e+07, 2.84232100e+06, 4.49032250e+07, 4.42730000e+04,
       7.98240000e+04, 3.55889870e+07, 1.58570000e+04, 9.37630000e+04,
       4.55103180e+07, 2.78046900e+06, 1.06445000e+05, 2.61774130e+07,
       8.93961700e+06, 1.03580740e+07, 4.09984000e+05, 1.47223300e+06,
       1.71186372e+08, 2.81635000e+05, 9.53495400e+06, 1.16559300e+07,
       4.05272000e+05, 1.33528640e+07, 6.41840000e+04, 7.82455000e+05,
       1.22241100e+07, 3.23352600e+06, 2.63029600e+06, 2.15313498e+08,
       3.13050000e+04, 4.49002000e+05, 6.78195300e+06, 2.26737620e+07,
       1.28895760e+07, 1.67678420e+07, 2.79145360e+07, 3.84543270e+07,
       5.93149000e+05, 6.87060000e+04, 5.57914400e+06, 1.77233150e+07,
       1.96037330e+07, 1.42588734e+09, 5.18740240e+07, 8.36774000e+05,
       1.70110000e+04, 5.18082900e+06, 4.03035800e+06, 1.12121910e+07,
       1.91163000e+05, 1.25148800e+06, 1.04939860e+07, 5.88226100e+06,
       1.12084900e+06, 7.27370000e+04, 1.12288210e+07, 9.90102120e+07,
       1.80010000e+07, 1.10990103e+08, 6.33639200e+06, 1.67490800e+06,
       3.68403200e+06, 1.32606200e+06,            nan, 1.23379924e+08,
       3.78000000e+03, 5.30900000e+04, 9.29766000e+05, 5.54074500e+06,
       6.46266280e+07, 3.04557000e+05, 3.06279000e+05, 2.38899200e+06,
       2.70599200e+06, 3.74438500e+06, 8.33698430e+07, 3.34758700e+07,
       3.26490000e+04, 1.03849710e+07, 5.64660000e+04, 1.25438000e+05,
       3.95752000e+05, 1.71774000e+05, 1.78439080e+07, 6.33010000e+04,
       1.38593410e+07, 2.10556600e+06, 8.08726000e+05, 1.15849960e+07,
       1.04328600e+07, 7.48886500e+06, 9.96730800e+06, 3.72899000e+05,
       1.41717317e+09, 2.75501339e+08, 8.85505700e+07, 4.44961220e+07,
       5.02310900e+06, 8.45190000e+04, 9.03830900e+06, 5.90374740e+07,
       2.81605420e+07, 2.82737700e+06, 1.23951692e+08, 1.10778000e+05,
       1.12858690e+07, 1.93979980e+07, 5.40274870e+07, 1.31232000e+05,
       4.26887300e+06, 6.63062300e+06, 7.52947500e+06, 1.85065100e+06,
       5.48973900e+06, 2.30582500e+06, 5.30268100e+06, 6.81234100e+06,
       3.93270000e+04, 2.75005500e+06, 6.47599000e+05, 6.95168000e+05,
       2.96117140e+07, 2.04053170e+07, 3.39382210e+07, 5.23787000e+05,
       2.25935900e+07, 5.33286000e+05, 4.15690000e+04, 3.67507000e+05,
       4.73613900e+06, 1.29946900e+06, 3.26101000e+05, 1.27504125e+08,
       1.14164000e+05, 3.27299600e+06, 3.64690000e+04, 3.39836600e+06,
       6.27082000e+05, 4.39000000e+03, 3.74579710e+07, 3.29695170e+07,
       5.41793060e+07, 2.56701200e+06, 1.26680000e+04, 3.05475800e+07,
       1.75640140e+07, 2.89950000e+05, 5.18528800e+06, 6.94839200e+06,
       2.62079770e+07, 2.18541212e+08, 1.93400000e+03, 2.60694160e+07,
       2.09359900e+06, 4.95510000e+04,            nan, 4.57629800e+06,
       2.35824862e+08,            nan, 5.25007200e+06, 4.40858100e+06,
       1.01426190e+07, 6.78074400e+06, 3.40495880e+07, 1.15559009e+08,
       3.98571450e+07, 1.02708650e+07, 3.25240700e+06, 2.69512200e+06,
       5.97042400e+06, 9.74052000e+05, 1.96592670e+07, 1.44713314e+08,
       1.37766980e+07, 1.09670000e+04, 4.76570000e+04, 1.79857000e+05,
       3.17910000e+04, 5.86200000e+03, 1.03948000e+05, 2.22382000e+05,
       3.36600000e+04, 2.27380000e+05, 3.64088200e+07, 1.73164490e+07,
       7.22136500e+06, 1.07118000e+05, 8.60571800e+06, 5.97568900e+06,
       4.41750000e+04, 5.64345300e+06, 2.11984400e+06, 7.24273000e+05,
       1.75975110e+07, 5.98938850e+07, 5.18158100e+07, 1.09131640e+07,
       4.75586300e+07, 2.18321430e+07, 4.68742040e+07, 6.18040000e+05,
       1.05493470e+07, 8.74047200e+06, 2.21252490e+07, 2.38933940e+07,
       9.95278700e+06, 6.54977480e+07, 7.16970300e+07,            nan,
       8.84869900e+06, 1.87100000e+03, 1.06858000e+05, 1.53104400e+06,
       1.23561170e+07, 8.53412410e+07, 6.43077000e+06, 4.57030000e+04,
       1.13120000e+04, 4.72495850e+07, 3.97017390e+07, 9.44112900e+06,
       6.75089360e+07, 3.38289857e+08, 9.94650000e+04, 3.42279400e+06,
       3.46276520e+07, 3.26740000e+05, 5.10000000e+02, 2.83016960e+07,
       9.81868560e+07, 1.15720000e+04, 5.75986000e+05, 3.36966140e+07,
       2.00176750e+07, 1.63205370e+07])

In [73]:
d = {'a':'salam', 'b':'sagol'}
d

{'a': 'salam', 'b': 'sagol'}

In [74]:
d['a']

'salam'

In [77]:
df

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

In [86]:
# df['Country']
x = df.loc[1]
# df.iloc[1]

x

Rank                                 138
CCA3                                 ALB
Country                          Albania
Capital                           Tirana
Continent                         Europe
2022 Population                2842321.0
2020 Population                2866849.0
2015 Population                2882481.0
2010 Population                2913399.0
2000 Population                3182021.0
1990 Population                3295066.0
1980 Population                2941651.0
1970 Population                2324731.0
Area (km²)                       28748.0
Density (per km²)                98.8702
Growth Rate                       0.9957
World Population Percentage         0.04
Name: 1, dtype: object

In [88]:
x.loc['1990 Population']

np.float64(3295066.0)

In [89]:
x.iloc[10]

np.float64(3295066.0)

In [139]:
a = [25,40,30,35,60]
b = ['ali', 'vali', 'hesen', 'huseyn', 'lale']
d = dict(zip(b,a))
# {k:v for k,v in list(zip(a,b))}
d

{'ali': 25, 'vali': 40, 'hesen': 30, 'huseyn': 35, 'lale': 60}

In [142]:
{v:k for k,v in d.items()}

{25: 'ali', 40: 'vali', 30: 'hesen', 35: 'huseyn', 60: 'lale'}

In [133]:
s1 = pd.Series(
    [25,40,30,35,60]
    )
s2 = pd.Series(
    [25,40,np.nan,35,60],
	index=['ali', 'vali', 'hesen', 'huseyn', 'lale']
)
s3 = pd.Series(
    {'ali': 25, 
     'vali': 40, 
     'hesen': 30, 
     'huseyn': 35, 
     'lale': 60}
)
s3[s3 < 50]

ali       25
vali      40
hesen     30
huseyn    35
dtype: int64

In [ ]:
# s3['ali']
s3.loc['hesen']
s3.iloc[2]

np.int64(30)

In [147]:
pd.Series({v:k for k,v in s3.to_dict().items()})

25       ali
40      vali
30     hesen
35    huseyn
60      lale
dtype: object

In [148]:
l = [1,2,2,3,4]
l[2] = 100
l

[1, 2, 100, 3, 4]

In [150]:
s3

ali       25
vali      40
hesen     30
huseyn    35
lale      60
dtype: int64

In [153]:
s3.iloc[0] = 300
s3

ali       300
vali       40
hesen      30
huseyn     35
lale       60
dtype: int64

In [164]:
kohne_index = s3.index.to_list()
kohne_index[0] = 'gulnar'
yeni_index = kohne_index.copy()

s3.index = yeni_index
s3

gulnar    300
vali       40
hesen      30
huseyn     35
lale       60
dtype: int64

In [166]:
s3.loc['gulnar'] = 30
s3

gulnar    30
vali      40
hesen     30
huseyn    35
lale      60
dtype: int64

In [167]:
s3

gulnar    30
vali      40
hesen     30
huseyn    35
lale      60
dtype: int64

In [169]:
s3.iloc[1:4]

vali      40
hesen     30
huseyn    35
dtype: int64

In [171]:
s3.loc['vali':'huseyn']

vali      40
hesen     30
huseyn    35
dtype: int64

In [ ]:
s4 = pd.Series(
    {'ali': 25, 
     'vali': 40, 
     'hesen': 30, 
     'ali': 35, 
     'lale': 60}
)
s4

ali      35
vali     40
hesen    30
lale     60
dtype: int64

In [173]:
s3

gulnar    30
vali      40
hesen     30
huseyn    35
lale      60
dtype: int64

In [174]:
s3 = pd.Series(
    {'ali': 25, 
     'vali': 40, 
     'hesen': 30, 
     'huseyn': 35, 
     'lale': 60}
)

s4 = pd.Series(
    {'ali': 25, 
     'elovset': 40, 
     'shucaet': 30, 
     'qezenfer': 35, 
     'lale': 60}
)

s3 + s4

ali          50.0
elovset       NaN
hesen         NaN
huseyn        NaN
lale        120.0
qezenfer      NaN
shucaet       NaN
vali          NaN
dtype: float64

In [178]:
s3.name = 'yashlar1'
s4.name = 'yashlar2'
s3

ali       25
vali      40
hesen     30
huseyn    35
lale      60
Name: yashlar1, dtype: int64

In [181]:
pd.concat(
    [s3.to_frame(), s4.to_frame()], axis=1
    )

          yashlar1  yashlar2
ali           25.0      25.0
vali          40.0       NaN
hesen         30.0       NaN
huseyn        35.0       NaN
lale          60.0      60.0
elovset        NaN      40.0
shucaet        NaN      30.0
qezenfer       NaN      35.0

In [ ]:
s3[s3 < 50] = 90
s3

ali       90
vali      90
hesen     90
huseyn    90
lale      60
Name: yashlar1, dtype: int64

In [191]:
s3 = pd.Series(
    {'ali': 25, 
     'vali': 40, 
     'hesen': 30, 
     'huseyn': 35, 
     'lale': 60}
)

s3 = s3.mask(s3==30, 100)
s3

ali        25
vali       40
hesen     100
huseyn     35
lale       60
dtype: int64