In [2]:
import pandas as pd

In [9]:
yashlar = [10,20,30,40]
s1 = pd.Series(yashlar, index=['ali', 'vali', 'lale', 'gulnar'])
s2 = pd.Series(
	[179,180,170,160],
    index=['ali', 'vali', 'lale', 'gulnar']
)

df = pd.DataFrame({
    'yash' : s1,
    'boy' : s2,
})
df

        yash  boy
ali       10  179
vali      20  180
lale      30  170
gulnar    40  160

In [11]:
from pathlib import Path
csv_path = Path(r"C:\Users\user\Desktop\div\data\world_population.csv")
df = pd.read_csv(csv_path)
df

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

In [18]:
df2 = df[[
    'CCA3',
    'Country',
    'Capital',
    'Continent',
    '2022 Population',
    '2020 Population',
    '2015 Population'
]].copy()
df2.head(3)

,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population
0,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0
1,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0
2,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0

In [75]:
df3 = df2.set_index(['Continent', 'CCA3']).sort_index()
df3

                         Country      Capital  2022 Population  \
Continent     CCA3
Africa        AGO         Angola       Luanda       35588987.0
              BDI        Burundi    Bujumbura       12889576.0
              BEN          Benin   Porto-Novo       13352864.0
              BFA   Burkina Faso  Ouagadougou       22673762.0
              BWA       Botswana     Gaborone        2630296.0
...                          ...          ...              ...
South America PER           Peru         Lima       34049588.0
              PRY       Paraguay     Asunción        6780744.0
              SUR       Suriname   Paramaribo         618040.0
              URY        Uruguay   Montevideo        3422794.0
              VEN      Venezuela      Caracas       28301696.0

                    2020 Population  2015 Population
Continent     CCA3
Africa        AGO        33428485.0       28127721.0
              BDI        12220227.0       10727148.0
              BEN        12643123.0       10932783.0
              BFA        21522626.0       18718019.0
              BWA         2546402.0        2305171.0
...                             ...              ...
South America PER        33304756.0       30711863.0
              PRY         6618695.0        6177950.0
              SUR          607065.0         575475.0
              URY         3429086.0        3402818.0
              VEN        28490453.0       30529716.0

[234 rows x 5 columns]

In [76]:
df3['Country']

Continent      CCA3
Africa         AGO           Angola
               BDI          Burundi
               BEN            Benin
               BFA     Burkina Faso
               BWA         Botswana
                           ...
South America  PER             Peru
               PRY         Paraguay
               SUR         Suriname
               URY          Uruguay
               VEN        Venezuela
Name: Country, Length: 234, dtype: object

In [77]:
# df3.loc['Africa'].loc['AGO']
df3.loc[('Africa','AGO')]

Country                Angola
Capital                Luanda
2022 Population    35588987.0
2020 Population    33428485.0
2015 Population    28127721.0
Name: (Africa, AGO), dtype: object

In [78]:
level0_cols = [
    'Population' if 'Population' in col else 'General' 
    for col in df3.columns.to_list()
]
level0_cols

['General', 'General', 'Population', 'Population', 'Population']

In [79]:
df3.columns = [
    level0_cols, 
	df3.columns.to_list()
]
df3

                         General                   Population                  \
                         Country      Capital 2022 Population 2020 Population
Continent     CCA3
Africa        AGO         Angola       Luanda      35588987.0      33428485.0
              BDI        Burundi    Bujumbura      12889576.0      12220227.0
              BEN          Benin   Porto-Novo      13352864.0      12643123.0
              BFA   Burkina Faso  Ouagadougou      22673762.0      21522626.0
              BWA       Botswana     Gaborone       2630296.0       2546402.0
...                          ...          ...             ...             ...
South America PER           Peru         Lima      34049588.0      33304756.0
              PRY       Paraguay     Asunción       6780744.0       6618695.0
              SUR       Suriname   Paramaribo        618040.0        607065.0
              URY        Uruguay   Montevideo       3422794.0       3429086.0
              VEN      Venezuela      Caracas      28301696.0      28490453.0


                   2015 Population
Continent     CCA3
Africa        AGO       28127721.0
              BDI       10727148.0
              BEN       10932783.0
              BFA       18718019.0
              BWA        2305171.0
...                            ...
South America PER       30711863.0
              PRY        6177950.0
              SUR         575475.0
              URY        3402818.0
              VEN       30529716.0

[234 rows x 5 columns]

In [83]:
df3.to_excel('cox_qesey.xlsx')

In [80]:
# df3.columns = [
#     ['General', 'General', 'Population', 'Population', 'Population'], 
# 	['Country', 'Capital', '2022 Population', '2020 Population', '2015 Population']
# ]
# df3

In [86]:
df3[('General', 'Country')]

Continent      CCA3
Africa         AGO           Angola
               BDI          Burundi
               BEN            Benin
               BFA     Burkina Faso
               BWA         Botswana
                           ...
South America  PER             Peru
               PRY         Paraguay
               SUR         Suriname
               URY          Uruguay
               VEN        Venezuela
Name: (General, Country), Length: 234, dtype: object

In [93]:
df4 = df3.droplevel(level=0, axis='rows')
df4 = df4.droplevel(level=0, axis='columns')
df4

,Country,Capital,2022 Population,2020 Population,2015 Population
CCA3,,,,,
AGO,Angola,Luanda,35588987.0,33428485.0,28127721.0
BDI,Burundi,Bujumbura,12889576.0,12220227.0,10727148.0
BEN,Benin,Porto-Novo,13352864.0,12643123.0,10932783.0
BFA,Burkina Faso,Ouagadougou,22673762.0,21522626.0,18718019.0
BWA,Botswana,Gaborone,2630296.0,2546402.0,2305171.0
...,...,...,...,...,...
PER,Peru,Lima,34049588.0,33304756.0,30711863.0
PRY,Paraguay,Asunción,6780744.0,6618695.0,6177950.0
SUR,Suriname,Paramaribo,618040.0,607065.0,575475.0
URY,Uruguay,Montevideo,3422794.0,3429086.0,3402818.0
VEN,Venezuela,Caracas,28301696.0,28490453.0,30529716.0

In [103]:
df4.rename({'AGO' : 'AAA'}, axis='rows')

,Country,Capital,2022 Population,2020 Population,2015 Population
CCA3,,,,,
AAA,Angola,Luanda,35588987.0,33428485.0,28127721.0
BDI,Burundi,Bujumbura,12889576.0,12220227.0,10727148.0
BEN,Benin,Porto-Novo,13352864.0,12643123.0,10932783.0
BFA,Burkina Faso,Ouagadougou,22673762.0,21522626.0,18718019.0
BWA,Botswana,Gaborone,2630296.0,2546402.0,2305171.0
...,...,...,...,...,...
PER,Peru,Lima,34049588.0,33304756.0,30711863.0
PRY,Paraguay,Asunción,6780744.0,6618695.0,6177950.0
SUR,Suriname,Paramaribo,618040.0,607065.0,575475.0
URY,Uruguay,Montevideo,3422794.0,3429086.0,3402818.0
VEN,Venezuela,Caracas,28301696.0,28490453.0,30529716.0

In [114]:
# df4.set_index('Country')
df4.reset_index(drop=True)

,Country,Capital,2022 Population,2020 Population,2015 Population
0,Angola,Luanda,35588987.0,33428485.0,28127721.0
1,Burundi,Bujumbura,12889576.0,12220227.0,10727148.0
2,Benin,Porto-Novo,13352864.0,12643123.0,10932783.0
3,Burkina Faso,Ouagadougou,22673762.0,21522626.0,18718019.0
4,Botswana,Gaborone,2630296.0,2546402.0,2305171.0
...,...,...,...,...,...
229,Peru,Lima,34049588.0,33304756.0,30711863.0
230,Paraguay,Asunción,6780744.0,6618695.0,6177950.0
231,Suriname,Paramaribo,618040.0,607065.0,575475.0
232,Uruguay,Montevideo,3422794.0,3429086.0,3402818.0
233,Venezuela,Caracas,28301696.0,28490453.0,30529716.0

In [115]:
%pip install sqlalchemy psycopg2-binary

Requirement already satisfied: sqlalchemy in c:\users\user\miniconda3\envs\ds\lib\site-packages (2.0.44)
Requirement already satisfied: psycopg2-binary in c:\users\user\miniconda3\envs\ds\lib\site-packages (2.9.11)
Requirement already satisfied: greenlet>=1 in c:\users\user\miniconda3\envs\ds\lib\site-packages (from sqlalchemy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\miniconda3\envs\ds\lib\site-packages (from sqlalchemy) (4.15.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from sqlalchemy import create_engine
import pandas as pd